body {
	font-family: 'Segoe UI','Segoe WP',Helvetica,Tahoma,Arial,sans-serif;
	margin-right: 5em;
	margin-left: 4em;
	margin-top: 2em;
	background-color: #FFFFFF;
	zoom: 1.0;
}
nav a {
	text-decoration: none;
}

h1 {
	
	font-size: x-large;
	color: rgb(144, 145, 146);
	
	//margin-top: 28px;
	//margin-bottom: 30px;
}
p {
	color: rgb(30, 30, 30);
	font-size: 20px;
	//line-height: 24px;
	padding: 0;
}

strong {
	font-weight: bold;
	font-size: 16px;
}
note {
    font-size: 20px;
    color: rgb(206 28 28);
    font-weight: bold;
}
#macros {
	border-collapse: collapse;
}
#macros tr td a {
	text-decoration: none;
}
#macros tr {
	border: 1px black;
}
#macros th {
	text-align: left;
	color: rgb(255, 255, 255);
	background-color: #989795;
	padding: 10px 5px;
}
#macros td {
	vertical-align: top;
	text-align: left;
	color: rgb(36, 41, 47);
	background-color: #f4f4f4;
	border: 1px solid LightGrey;
	//border-bottom: 1px solid LightGrey;
	padding: 10px 5px;
}
#macros img {
	margin-bottom: 1px;
	//float:right;
}


.button {
	font-family: Inter,sans-serif;
	background-color: #04AA6D;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }
  .button4 {border-radius: 12px;}
